extends layouts/base

block content
  tr
    td.wrapper
      p Hi, #{name}
      p Sometimes you just want to send a simple HTML email with a simple design and clear call to action. This is it.
      table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
        tbody
          tr
            td(align="left")
              table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                tbody
                  tr
                    td
                      a(href= url, target="_blank") Call To Action
      p This is a really simple email template. It&apos;s sole purpose is to get the recipient to click the button with no distractions.
      p Good luck! Hope it works.